<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3{
            color: rgb(255, 67, 46);
        }
    </style>
</head>
<body>
    <h3> Welcome to Quantified-Self App </h3>
    <h4>Hello: {{username}},</h4> <br>
    <h5>We know that you have created new tracker(s) {{emptylogtrackers}}. But you have not registered any log yet!</h5>
    <h5>This mail is a gentle reminder to you for creating new log regarding the same</h5> <br>
    <h5>Let's create one and start tracking your habbits !</h5>
    
    <div>
        <p> <b>Thanks,</b> </p>
        <b>TEAM: CUSTOMERCARE</b> <br>
        <b>QUANTIFIED-SELF APP</b>
    </div>
</body>
</html>